{% extends 'main/layout.html' %}
{% block content %}

{% load widget_tweaks %}

    	<style>
			.forum-title{
				font-size: 40px;
				font-weight: bold;
				text-align: center;
				margin: 30px;
			}
			.forum-post{
				background-color: #fff;
				border: .5px #00f solid;
				padding: 14px;
				font-size: 14px;
			}
			.forum-post-title{
				font-size: 1.5em;
				font-weight: bold;
				padding: 10px 0;
				border-bottom: 1px #ddd solid;
			}
			.forum-post-info{
				margin-top: 30px;
			}
			.post-info{
				font-size: .8em;
				background-color: #ffe8ab;
				display: inline-block;
				padding: 10px;
			}
			.post-time{
				font-weight: bold;
			}
			.post-info-2{
				color: #51b2b8;
				margin-top: 20px;
			}
			.post-info-2>*{
				vertical-align: middle;
			}
			.info-thumb{
				display: inline-block;
				margin-right: 10px;
				cursor: pointer;
				transition: transform .2s linear;
				filter: grayscale(.8);
				width: 50px;
				height: 50px;
				user-select: none;
			}
			.info-thumb.pushed{
				filter: grayscale(0);
			}

			.forum-post-action{
				position: absolute;
				right: 20px;
				top: 20px;
			}
			.post-row{
				margin-bottom: 50px;
			}
			.comment-line{
				color: #fff;
				opacity: .8;
				font-size: 24px;
				border-bottom: 1px #ddd solid;
				margin-bottom: 30px;
			}
			.forum-post-action.forum-comment-action{
				top: auto;
				bottom: 20px;
			}
			.forum-comment{
				margin-bottom: 30px;
			}
			.forum-comment-div{
				padding: 0;
				background: none;
				border: 0;
				outline: 0;
			}
			.forum-comment-div textarea{
				border: .5px #00f solid;
				box-shadow: 2px 0 5px 0 #bb68ff;
			}
			.info-thumbcount{
				display: inline-block;
				margin-right: 20px;
			}
			.info-comment{
				display: inline-block;
			}
		</style>
		<script>
			$(document).on('click', '.info-thumb', function(){
				var rot = Number($(this).data('rot')) + 360;
				var t = this;

				$(this).data('rot', rot).css({'transform': 'rotate('+ rot +'deg)'}).addClass('pushed');

				$.ajax({
					url: location.origin + '/forum/thumb/' + $(t).data('postid'),
					type: 'get',
					success: function(re){
						if (re == '1')
						{
							$('.info-thumbcount>span').text(Number($('.info-thumbcount>span').text()) + 1);
							$(t).addClass('pushed');
							$(t).find('img').css({
								width: 50,
								height: 50
							});
						}
						else
						{
							$('.info-thumbcount>span').text(Number($('.info-thumbcount>span').text()) - 1);
							$(t).removeClass('pushed');
							$(t).find('img').css({
								width: 40,
								height: 40
							});
						}
					}
				});
			})
		</script>

		<div class="row w-100 justify-content-center">
			<h1 class="forum-title">{{post.forum.title}}區</h1>
		</div>
	
		<div class="col-md-12 justify-content-center" style="background-color: lightblue; padding-top: 40px;">
			<div class="row justify-content-center">
				{% if request.user.is_authenticated and request.user.username == post.postUser.username %}
					<div class="col-md-8" style="padding: 0; text-align: right; margin: 20px 0;">
						<button class="btn btn-primary" onClick="location.href='/forum/update/{{post.id}}'" type="button">撰寫文章</button>
					</div>
				{% endif %}
			</div>
			<div class="post-row row justify-content-center">
				<div class="forum-post col-md-8">
					<p class="forum-post-title">{{post.title}}</p>
					<p class="forum-post-body">
						{{post.body|safe}}
					</p>
					<div class="forum-post-info">
						<div>
							<div class="post-info">
								<span>張貼於</span>
								<span class="post-time">{{post.postTime}}</span><br>
								<img src="{{post.postUser.userprofile.avatar.url}}" alt="頭像" width="30" height="30">
								<span class="post-user">{{post.postUser.username}}</span>
							</div>
						</div>
						<div class="post-info-2">
							{% if request.user.is_authenticated %}
								{% load static %}
								{% if userThumb.count == 0 %}
									<p class="info-thumb" data-postid="{{post.id}}" data-rot="0">
										<img src="{% static "img/thumb.png" %}" alt="" width="40" height="40">
									</p>
								{% else %}
									<p class="info-thumb pushed" data-postid="{{post.id}}" data-rot="0">
										<img src="{% static "img/thumb.png" %}" alt="" width="50" height="50">
									</p>
								{% endif %}
							{% endif %}
							<p class="info-thumbcount"><span>{{thumb.count}}</span>個人按讚</p>
							<p class="info-comment"><span>{{comments.count}}</span>則留言</p>
						</div>
					</div>

					<!-- 發文者可以刪除(看你要不要做) -->
					{% if request.user.is_authenticated and request.user.username == post.postUser.username %}
						<div class="forum-post-action">
							<a href="/forum/delete/{{post.id}}">刪除</a>
						</div> 
					{% endif %}
				</div>

			</div>

			<div class="comment-line row justify-content-center">
				留言區
			</div>
			
			<div class="forum-comment-insert row justify-content-center" style="padding: 0;">
				<div class="forum-comment-div col-md-8" style="padding: 0;">
					<form action="" method="POST">
						{% load widget_tweaks %}
						{% csrf_token %}
						
						{% render_field commentForm.commentBody placeholder="留點東西吧" class="form-control" %}
				
						<div style="text-align: right;">
							<input type="submit" class="btn btn-primary" value="發布留言" style="cursor: pointer;"/>
						</div>
					</form>
					
				</div>
			</div>
			<br>
			{% for comment in comments %}
			<div class="forum-comment row justify-content-center">
				<div class="forum-post col-md-8">
					<p class="forum-post-body">
						{{comment.body}}
					</p>
					<div class="forum-post-info">
						<div>
							<div class="post-info">
								<span>留言於</span>
								<span class="post-time">{{comment.commentTime}}</span><br>
								<img src="{{comment.postUser.userprofile.avatar.url}}" alt="頭像" width="30" height="30">
								<span class="post-user">{{comment.postUser}}</span>
							</div>
						</div>
					</div>

					<!-- 發文者可以刪除(看你要不要做) -->
					<!--
					<div class="forum-post-action forum-comment-action">
						<a href="#">刪除</a>
					</div>
					-->
				</div>
			</div>
		
	{% endfor %}
</div>
{% endblock content %}