#List li{
	display:inline;
	top: 25px;
	margin-right:25px;
}

/*.board>.row>div:hover{
	cursor: pointer;
}*/
.style-jvp6q3ta{
	cursor: pointer;
}
.board>.row>div:hover .link-board{
	display: inline-block !important;
}

.search-input{
	background: transparent;
	border: 0;
	outline: 0;
	width: 70%;
}
.search-input::placeholder{
	font-size: 12px;
}


.create-post{
  border-radius: 0px
}
.create-post-svg{
  fill: white
}


#div1{
	/*top: 40px
  left: 270px*/
  left:15%;
}
#div2{
 /* top: 55px;*/
	margin-top: 30px;
}
@media screen and (max-width:800px) {
  #div1 {
  	left: 18%;
  }
  #div2{
	margin-left:16%;

  }
  #div3{
	text-align: center;
  }
}
.create-post{
  border-radius: 0px
}
.create-post-svg{
  fill: white
}
.title-Input{
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 30px
}
.title-content{
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 18px
}
.comp-jvqa3otnsvg svg{
	fill: #e84a43;
}

/* tooltip settings start 
.tip1 span{
  position: relative;
  display: inline-block;
  &:hover {
    cursor: pointer;
    &amp;:before, &amp;:after {
      opacity: 1;
    }
  }
  &::before {
    content: attr(data-tooltip);
    background: #d9444a;
    color: #fff;
    padding: .8em 1em;
    position: absolute;
    left: 100%;
    top: -90%;
    margin-left: 14px;
    white-space: pre;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #d9444a transparent transparent;
  }
  &::before, &::after {
    opacity: 0;
    @include transition(opacity .3s ease-out);
  }
}*/


