#List li{
	display:inline;
	top: 25px;
	margin-right:25px;
}

.board>.row>div:hover{
	cursor: pointer;
}
.style-jvp6q3ta{
	cursor: pointer;
}
.board>.row>div:hover .link-board{
	display: inline-block !important;
}

.search-input{
	background: transparent;
	border: 0;
	outline: 0;
	width: 70%;
}
.search-input::placeholder{
	font-size: 12px;
}