{% extends 'main/layout.html' %}

{% block content %}
<form method="GET" class="col-md-9" id="div1">
    <h1 style="text-align: center; margin: 0 0 30px;">問答區</h1>
    <div class="input-group add-on">
        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <svg class="qqNm_ desktop-header-search-icon-fill button-hover-fill style-jvp6q3ta" data-hook="search-icon" height="16" onclick="" style="fill-rule:evenodd" viewbox="0 0 15 16" width="15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M878.766,254.573l-3.7-3.96a6.555,6.555,0,0,0,1.471-4.153,6.274,6.274,0,1,0-6.27,6.46,6.074,6.074,0,0,0,3.592-1.169l3.725,3.99a0.8,0.8,0,0,0,1.156.024A0.862,0.862,0,0,0,878.766,254.573Zm-8.5-12.888a4.777,4.777,0,1,1-4.636,4.775A4.712,4.712,0,0,1,870.27,241.685Z" transform="translate(-864 -240)">
                    </path>
                </svg>
            </button>
        </div>
    </div>
    <br>
    <div >
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" href="#tab1" data-toggle="tab">所有文章</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">C</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">Java</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab4" data-toggle="tab">Python</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab5" data-toggle="tab">其他</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="panel-538244">
                <div class="card">
                    {% for data in datasAll%}   
                        <div class="card-body">
                            <div class="list">
                                <p class="card-text">
                                    <div class="title">
                                        <a  href="/QA/detail/{{data.id}}">{{data.title}}</a>
                                    </div>
                                    <div>
                                        <a href="/users/profile/{{data.postedUser.username}}">{{data.postedUser}}</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="tab1">
                <div class="card">
                    {% for data in datasAll%}   
                        <div class="card-body">
                            <div class="list">
                                <p class="card-text">
                                    <div class="title">
                                        <a href="/QA/detail/{{data.id}}">{{data.title}}</a>
                                    </div>
                                    <div>
                                        <a href="/users/profile/{{data.postedUser.username}}">{{data.postedUser}}</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="card">
                    {% for data in datasCPP%}   
                        <div class="card-body">
                            <div class="list">
                                <p class="card-text">
                                    <div class="title">
                                        <a href="/QA/detail/{{data.id}}">{{data.title}}</a>
                                    </div>
                                    <div>
                                        <a href="/users/profile/{{data.postedUser.username}}">{{data.postedUser}}</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="card">
                    {% for data in datasJava%}   
                        <div class="card-body">
                            <div class="list">
                                <p class="card-text">
                                    <div class="title">
                                        <a href="/QA/detail/{{data.id}}">{{data.title}}</a>
                                    </div>
                                    <div>
                                        <a href="/users/profile/{{data.postedUser.username}}">{{data.postedUser}}</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <div class="card">
                    {% for data in datasPython%}   
                        <div class="card-body">
                            <div class="list">
                                <p class="card-text">
                                    <div class="title">
                                        <a href="/QA/detail/{{data.id}}">{{data.title}}</a>
                                    </div>
                                    <div>
                                        <a href="/users/profile/{{data.postedUser.username}}">{{data.postedUser}}</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <div class="card">
                    {% for data in datasOther%}   
                        <div class="card-body">
                            <div class="list">
                                <p class="card-text">
                                    <div class="title">
                                        <a href="/QA/detail/{{data.id}}">{{data.title}}</a>
                                    </div>
                                    <div>
                                        <a href="/users/profile/{{data.postedUser.username}}">{{data.postedUser}}</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="btn btn-primary create-post style-jvp6q3ta" type="button" style="width: 290px;height: 50px; position: relative; left: 0%"  onclick="location.href='/QA/create'">
            <div style="position: relative; left: -30%; text-align: right;display: inline-block;">建立文章</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" viewBox="0 0 445 445" class="create-post-svg" style="position: relative; left: 30%; fill-rule: evenodd; clip-rule: evenodd;display: inline-block;">
                <polygon points="427.4,199.7 245.3,199.7 245.3,17.6 199.7,17.6 199.7,199.7 17.6,199.7 17.6,245.3 199.7,245.3 199.7,427.4 245.3,427.4 245.3,245.3 427.4,245.3"></polygon>
            </svg>
        </button>
    </div>
</form>

{% endblock content %}