#div1{
	/*首頁標題區的排版*/
  left:12%;
}
#div2{
 /*首頁標題區的排版*/
	margin-top: 30px;
}
#div4{
  /*個人小屋標題區的排版*/
  margin-top: 30px;
}
@media screen and (max-width:800px) {
  #div1 {
     /*首頁標題區的排版*/
  	left: 19%;
  }
  #div2{
     /*首頁標題區的排版*/
	margin-left:16%;

  }
  #div3{
    /*首頁新聞區文字的排版*/
	text-align: center;
  }
  #div4{
 /*個人小屋標題區的排版*/
  margin-left: 11%;
  }
}
.style-jvp6q3ta{
  cursor: pointer;
}
.search-input{
  background: transparent;
  border: 0;
  outline: 0;
  width: 70%;
}
.search-input::placeholder{
  font-size: 12px;
}
.create-post{
  border-radius: 0px
}
.create-post-svg{
  fill: white
}

.title{
  font-weight:bold;
  font-size: 24px;
}

.list{
  border-bottom: 1px solid #f4f4f4;
  margin-left: 2%;
}

body{
  font-family: Helvetica, Arial,LiHei Pro,黑體-繁,微軟正黑體, sans-serif!important;
}

* {
  box-sizing: border-box;
}
/* Style the header */
header {
  background-color: lightblue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white; 
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 500px; 
  background: white;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;
  height: auto; /*only for demonstration, should be removed */
}



/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the footer */
footer {
  background-color:lightblue;
  padding: 30px;
  text-align: center;
  color: white;
}
#posting{
  display: table;
  padding:10px;
  width: 49.9%;
  height: 49.9%;
  background: lightblue;
  color:white; 
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.button {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {
  background-color: lightblue;
  color: white;
}
#relative{
  position: relative;
  top: 120px;
}

.footer{
  width: 100%;
  background-color: #0275d8;
  margin-top: 100px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.index-content{
  padding: 30px;
}

.input-special{
  width: 50% !important;
}

.card-text{
  margin: 15px 0;
}