#div1{
	/*top: 40px
  left: 270px*/
  left:15%;
}
#div2{
 /* top: 55px;*/
	margin-top: 30px;
}
@media screen and (max-width:800px) {
  #div1 {
  	left: 18%;
  }
  #div2{
	margin-left:16%;

  }
  #div3{
	text-align: center;
  }
}
.style-jvp6q3ta{
  cursor: pointer;
}
.search-input{
  background: transparent;
  border: 0;
  outline: 0;
  width: 70%;
}
.search-input::placeholder{
  font-size: 12px;
}
.create-post{
  border-radius: 0px
}
.create-post-svg{
  fill: white
}
#List li{
  display:inline;
  top: 25px;
  margin-right:25px;
}
.board>.row>div:hover .link-board{
  display: inline-block !important;
}